.gameScreen {
    margin: auto;
    align-items: center;
    border-style: double;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    
}

.gameBoard {
    width: 50vw;
    min-width: 300px;
    min-height: 300px;
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

.gamePanel {
    border-style: solid;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    border-color: orange;
}

.gamePanel, .gameBoard {
    height: 50vw;
}

.infoContainer {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatboxContainer {
    flex: 1 0 0;
    display: flex;
    flex-direction: column-reverse;
    border-color: green;
    border-style: solid;
    overflow: scroll;
}

.disconnectBtn {
    display: inline-block;
    flex: 1 0 0;
}

.gameInfo {
    flex: 1 0 0;
}